[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
flask = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
anki = "*"
requests = "*"
scikit-learn = "*"
matplotlib = "*"
ics = "*"

[dev-packages]

[requires]
python_version = "3.12"
